<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.headerLogo = "<%= image_url('spotify-white-logo.png') %>";
    </script>

    <title>Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
