<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.whiteLogo = "<%= image_url('splash/white_logo.png') %>";
    </script>

    <script type="text/javascript">
      window.blackLogo = "<%= image_url('splash/black_logo.png') %>"; 
    </script>

    <script type="text/javascript">
      window.musicNoteIcon = "<%= image_url('playlists/music-note-icon.png') %>";
    </script>

    <script type="text/javascript">
      window.playIcon = "<%= image_url('playlists/play-icon.png') %>";
    </script>

    <script type="text/javascript">
      window.audioPlayIcon = "<%= image_url('audio_player/audio_play.png') %>";
    </script>

    <script type="text/javascript">
      window.audioPauseIcon = "<%= image_url('audio_player/audio_pause.png') %>";
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    <title>Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
